{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "off",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
